name: Release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20.x
      uses: actions/setup-node@v3 # Refs: https://github.com/actions/setup-node/issues/942
      with:
        node-version: '20.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Copy README
      run: |
        cp README.md ./megalodon/
        cp LICENSE.txt ./megalodon/
    - name: Install dependencies
      run: |
        yarn install
    - name: Build
      run: |
        yarn workspace megalodon run build
    - name: Publish
      run: |
        yarn workspace megalodon npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
