name: Release

on:
  release:
    types: [created]

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 16.x
      uses: actions/setup-node@v1
      with:
        node-version: '16.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Install dependencies
      run: |
        yarn install
    - name: Build
      run: |
        yarn workspace megalodon run build
    - name: Publish
      run: |
        yarn workspace megalodon publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
