name: Test

on:
  push:
    branches:
      - master

    tags:

  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 17.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          yarn install
      - name: Build
        run: |
          yarn workspace megalodon run build
      - name: Testing
        run: |
          yarn workspace megalodon run test
      - name: Browser example
        run: |
          yarn workspace browser run build
      - name: Typescript example
        run: |
          yarn workspace example run build
